<div
  class="pensamento {{ pensamento.modelo }} ff-roboto-mono"
  [ngClass]="larguraCardPensamento()"
>
  <img
    src="/assets/imagens/{{ pensamento.modelo }}.png"
    alt="Aspas coloridas"
  />
  <p class="conteudo">
    {{ pensamento.conteudo }}
  </p>
  <p class="autoria">
    <b>{{ pensamento.autoria }}</b>
  </p>
  <div class="acoes">
    <button class="botao-favorito" (click)="mudarFavorito()">
      <img
        src="/assets/imagens/icone-favorito-{{ iconeFavorito() }}.png"
        alt="Icone {{ iconeFavorito() }}"
      />
    </button>
    <button class="botao-editar">
      <img
        src="/assets/imagens/icone-editar.png"
        routerLink="/pensamentos/editarPensamento/{{ pensamento.id }}"
        alt="Icone de editar"
      />
      <img
        src="/assets/imagens/icone-excluir.png"
        routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}"
        alt="Icone de excluir"
      />
    </button>
  </div>
</div>
